name: Compile R Markdown Document

on:  
  push:
    branches:   
      - main
    paths:  
      - '**.Rmd'
      - '**.bib'
  pull_request:
    paths:  
      - '**. Rmd'
      - '**.bib'

jobs:
  compile-rmarkdown: 
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
    
    steps:  
      - name:  Checkout repository
        uses:  actions/checkout@v4
      
      # Install R with caching
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version:  'release'
          use-public-rspm: true  # Speeds up R package installation
      
      # Install pandoc
      - name: Setup Pandoc
        uses: r-lib/actions/setup-pandoc@v2
      
      # Cache TeXLive packages - THIS IS THE BIG TIME SAVER!
      - name: Cache TeXLive
        uses: actions/cache@v4
        id: cache-texlive
        with: 
          path: /usr/share/texlive
          key:  texlive-${{ runner. os }}-full
          
      # Only install TeXLive if not cached
      - name: Install TeXLive
        if:  steps.cache-texlive. outputs.cache-hit != 'true'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            texlive-base \
            texlive-latex-recommended \
            texlive-latex-extra \
            texlive-fonts-recommended \
            texlive-fonts-extra \
            texlive-humanities \
            texlive-bibtex-extra \
            texlive-science \
            texlive-publishers
      
      # Cache R packages
      - name:  Cache R packages
        uses: actions/cache@v4
        with: 
          path: ${{ env.R_LIBS_USER }}
          key: r-packages-${{ runner.os }}-${{ hashFiles('**/DESCRIPTION') }}
          restore-keys: |
            r-packages-${{ runner.os }}-
      
      # Install R packages
      - name: Install R packages
        run: |
          R -e 'install.packages(c("rmarkdown", "knitr"), repos="https://cloud.r-project.org")'
      
      # Compile the R Markdown document to PDF
      - name: Render R Markdown to PDF
        run: |
          R -e 'rmarkdown::render("document.Rmd", output_format = rmarkdown::pdf_document(keep_tex = TRUE))'
      
      # Upload both PDF and intermediate . tex file for debugging
      - name: Upload PDF artifact
        uses:  actions/upload-artifact@v4
        with:
          name:  compiled-pdf
          path: |
            document.pdf
            document.tex
          retention-days: 90
